@use "sass:list";

$dataList: ((479, 1504, 1), (2, 3, 3), (4, 5, 175), (479, 1504, 175), (479, 1504, 175), (479, 1504, 175), (479, 1504, 175), (479, 1504, 175), (479, 1504, 175), (479, 1504, 175));

.test {
    @for $i from 1 through 10 {
        $item: list.nth($dataList, $i);
        &:nth-child(#{$i}) {
            top: list.nth($item, 1) + px;
            left: list.nth($item, 2) + px;
            &::after {
                background-image: url("@/assets/dashboard/screen-icon#{$i}.png");
                top: list.nth($item, 3) + px;
            }
        }
    }
}
